
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Show us your magic <%= user.name.givenName %> !</h1>
    <div class="col-lg-6 mx-auto">
        <p>Share your recipes with the community!</p>
    </div>
</div>

<div class="row justify-content-center">

    <% if (infoSubmitObj != '') { %>
        <div class="alert alert-success col-8" role="alert">
            <%= infoSubmitObj %>
          </div>
    <% } %>

    <% if (infoErrorsObj != '') { %>
        <div class="alert alert-danger col-8" role="alert">
            <%= infoErrorsObj[0].message %>
          </div>
    <% } %>


    <div class="col-8">
        <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
            <div class="row g-3">
                
                <div class="col-12">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" name="author" id="author" class="form-control" value="<%= user.displayName %>" readonly required>
                </div> 

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control" value="<%= user.email %>" readonly required>
                </div>                

                <div class="col-12">
                    <label for="name" class="form-label">Recipe Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="4" required></textarea>
                </div>

                <div class="col-12">
                    <label for="ingredients" class="form-label">Ingredients</label>
                    <small>Example: 10g Flour </small>
                    <div class="ingredientList">
                        <div class="ingredientDiv mb-1">
                            <input type="text" name="ingredients" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
                    <button type="button" class="btn btn-outline-danger" id="removeIngredientsBtn">- Ingredient</button>
                </div>

                <div class="col-12">
                    <label for="category">Select Category</label>
                    <select name="category" aria-label="Category" class="form-select form-control" >
                        <option selected>Select Category</option>
                        <option value="Thai">Thai</option>
                        <option value="American">American</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Indian">Indian</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="diets">Special Diets</label>
                    <div id="diets" class="btn-group" role="group" aria-label="Diets">
                        <input type="checkbox" class="btn-check" id="Vegetarian" name="diets" value="Vegetarian" autocomplete="off">
                        <label class="btn btn-outline-success" for="Vegetarian">Vegetarian</label>
                
                        <input type="checkbox" class="btn-check" id="Vegan" name="diets" value="Vegan" autocomplete="off">
                        <label class="btn btn-outline-success" for="Vegan">Vegan</label>
                
                        <input type="checkbox" class="btn-check" id="GlutenFree" name="diets" value="Gluten-Free" autocomplete="off">
                        <label class="btn btn-outline-success" for="GlutenFree">Gluten-Free</label>
                
                        <input type="checkbox" class="btn-check" id="DairyFree" name="diets" value="Dairy-Free" autocomplete="off">
                        <label class="btn btn-outline-success" for="DairyFree">Dairy-Free</label>
                    </div>
                </div>
                
                <div class="col-12">
                    <label for="duration" class="form-label">Duration (in minutes)</label>
                    <input type="number" name="duration" id="duration" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="persons" class="form-label">Number of Persons</label>
                    <input type="number" name="persons" id="persons" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="calories" class="form-label">Calories (kcal)</label>
                    <input type="number" step="0.1" name="calories" id="calories" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="fats" class="form-label">Fats (g)</label>
                    <input type="number" step="0.1" name="fats" id="fats" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="carbohydrates" class="form-label">Carbohydrates (g)</label>
                    <input type="number" step="0.1" name="carbohydrates" id="carbohydrates" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="protein" class="form-label">Protein (g)</label>
                    <input type="number" step="0.1" name="protein" id="protein" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="sugar" class="form-label">Sugar (g)</label>
                    <input type="number" step="0.1" name="sugar" id="sugar" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="salt" class="form-label">Salt (g)</label>
                    <input type="number" step="0.1" name="salt" id="salt" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="saturates" class="form-label">Saturates (g)</label>
                    <input type="number" step="0.1" name="saturates" id="saturates" class="form-control" >
                </div>

                <div class="col-12">
                    <label for="fibre" class="form-label">Fibre (g)</label>
                    <input type="number" step="0.1" name="fibre" id="fibre" class="form-control" >
                </div>
                
                <div class="col-12">
                    <label for="image">Dish Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit Recipe</button>
                </div>
            </div>
        </form>
    </div>
</div>